<%= form_for @article do |f| %>
 
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 <div class="panel panel-default">
  <div class="panel-heading">Panel Heading</div>
  <div class="form-group form-group-lg">
    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>
  
    <p>
      <%= f.label :text %><br>
      <%= f.text_area :text %>
    </p>
  
    <p>
      <%= f.submit %>
      <!--<%= f.submit 'Update Art', :class => 'submit_class_name_here' %>-->
    </p>
  </div>
 </div>
<% end %>

